In [1]:
import pandas as pd
from bs4 import BeautifulSoup
import requests

In [2]:
soup = BeautifulSoup(requests.get('https://kworb.net/spotify/').text)

In [3]:
link_list = [l['href'] for l in soup.find('table').find_all('a', href=True) 
 if ('weekly' in l['href']) and ('totals' not in l['href'])]

In [39]:
link_list[1:]

['country/us_weekly.html',
 'country/gb_weekly.html',
 'country/ad_weekly.html',
 'country/ar_weekly.html',
 'country/au_weekly.html',
 'country/at_weekly.html',
 'country/by_weekly.html',
 'country/be_weekly.html',
 'country/bo_weekly.html',
 'country/br_weekly.html',
 'country/bg_weekly.html',
 'country/ca_weekly.html',
 'country/cl_weekly.html',
 'country/co_weekly.html',
 'country/cr_weekly.html',
 'country/cy_weekly.html',
 'country/cz_weekly.html',
 'country/dk_weekly.html',
 'country/do_weekly.html',
 'country/ec_weekly.html',
 'country/eg_weekly.html',
 'country/sv_weekly.html',
 'country/ee_weekly.html',
 'country/fi_weekly.html',
 'country/fr_weekly.html',
 'country/de_weekly.html',
 'country/gr_weekly.html',
 'country/gt_weekly.html',
 'country/hn_weekly.html',
 'country/hk_weekly.html',
 'country/hu_weekly.html',
 'country/is_weekly.html',
 'country/in_weekly.html',
 'country/id_weekly.html',
 'country/ie_weekly.html',
 'country/il_weekly.html',
 'country/it_weekly.html',
 'country/jp_weekly.html',
 'country/kz_weekly.html',
 'country/lv_weekly.html',
 'country/lt_weekly.html',
 'country/lu_weekly.html',
 'country/my_weekly.html',
 'country/mt_weekly.html',
 'country/mx_weekly.html',
 'country/ma_weekly.html',
 'country/nl_weekly.html',
 'country/nz_weekly.html',
 'country/ni_weekly.html',
 'country/ng_weekly.html',
 'country/no_weekly.html',
 'country/pk_weekly.html',
 'country/pa_weekly.html',
 'country/py_weekly.html',
 'country/pe_weekly.html',
 'country/ph_weekly.html',
 'country/pl_weekly.html',
 'country/pt_weekly.html',
 'country/ro_weekly.html',
 'country/ru_weekly.html',
 'country/sa_weekly.html',
 'country/sg_weekly.html',
 'country/sk_weekly.html',
 'country/za_weekly.html',
 'country/kr_weekly.html',
 'country/es_weekly.html',
 'country/se_weekly.html',
 'country/ch_weekly.html',
 'country/tw_weekly.html',
 'country/th_weekly.html',
 'country/tr_weekly.html',
 'country/ua_weekly.html',
 'country/ae_weekly.html',
 'country/uy_weekly.html',
 'country/ve_weekly.html',
 'country/vn_weekly.html']

## üßº Cleaning the data

Cleaning the data frame to get the information that we need: Position, Artist_name, Song_title

In [100]:
for link in link_list[1:3]:
    df = pd.read_html(f'https://kworb.net/spotify/{link}')[0]

    if 'Artist and Title' in df.columns: 
        df[['artist_name', 'song_title']] = df['Artist and Title'].str.split('-', n=1, expand = True) 
        df.drop(columns=['Artist and Title'], inplace=True)
        df.drop(columns=['P+', 'Wks', 'Pk', '(x?)', 'Streams', 'Streams+', 'Total'], inplace = True) 

    display(df)

     Pos     artist_name                                         song_title
0      1   Benson Boone                                    Beautiful Things
1      2     Noah Kahan                                        Stick Season
2      3      21 Savage                                              redrum
3      4    Jack Harlow                                         Lovin On Me
4      5     Zach Bryan          I Remember Everything (w/ Kacey Musgraves)
..   ...             ...                                                ...
195  196    Chance Pe√±a                                  i am not who i was
196  197  Morgan Wallen                                     Whiskey Glasses
197  198       Coldplay                                              Yellow
198  199   Taylor Swift    Now That We Don't Talk (Taylor's Version) (Fr...
199  200   Paul Russell                                       Lil Boo Thang

[200 rows x 3 columns]

     Pos      artist_name                         song_title
0      1      Noah Kahan                        Stick Season
1      2     Sophie Ellis  Bextor - Murder On The Dancefloor
2      3     Teddy Swims                        Lose Control
3      4     Jack Harlow                         Lovin On Me
4      5    Benson Boone                    Beautiful Things
..   ...              ...                                ...
195  196   Stereophonics                              Dakota
196  197        Bastille                             Pompeii
197  198     Nicki Minaj                   Pink Friday Girls
198  199  Declan McKenna                              Brazil
199  200       Radiohead                               Creep

[200 rows x 3 columns]

Only getting the data that we need: Position, Artist Name, Song Title.

In [101]:
df

     Pos      artist_name                         song_title
0      1      Noah Kahan                        Stick Season
1      2     Sophie Ellis  Bextor - Murder On The Dancefloor
2      3     Teddy Swims                        Lose Control
3      4     Jack Harlow                         Lovin On Me
4      5    Benson Boone                    Beautiful Things
..   ...              ...                                ...
195  196   Stereophonics                              Dakota
196  197        Bastille                             Pompeii
197  198     Nicki Minaj                   Pink Friday Girls
198  199  Declan McKenna                              Brazil
199  200       Radiohead                               Creep

[200 rows x 3 columns]